.btn-outline-success {
    --bs-btn-color: #87196a;
    --bs-btn-border-color: #87196a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #87196a;
    --bs-btn-hover-border-color: #87196a;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #87196a;
    --bs-btn-active-border-color: #87196a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #87196a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #87196a;
    --bs-gradient: none;
}
